// font-family: "Indie Flower", Arial, Helvetica, sans-serif;

/* COLORS

MINT GREEN: c6ebc9
GREEN: 70af85
BEIGE: f0e2d0
BROWN: aa8976

TURQUOISE: 75cfb8
TURQUISE-LIGHT: bbdfc8
CREAM: f0e5d8
ORANGE: ffc478

*/

:root {
  --color-primary: #75cfb8;
  --color-primary-light: #bbdfc8;

  --color-grey-light: rgb(238, 238, 238);
  --color-grey-dark: rgb(36, 36, 36);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light);
}
