.slider {
  height: 60rem;
  width: 100rem;
  // height: 80%;
  // width: 80%;
  position: relative;

  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  box-shadow: 0rem 1.125rem 4.125rem rgba(0, 0, 0, 0.3);
  overflow: hidden;

  @media only screen and (max-width: $bp-largest) {
    height: 48rem;
    width: 80rem;
  }

  @media only screen and (max-width: $bp-large) {
    height: 40rem;
    width: 60rem;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 40rem;
    width: 45rem;
  }

  @media only screen and (max-width: $bp-small) {
    height: 45rem;
    width: 30rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    height: 45rem;
    width: 25rem;
  }

  &__slide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
  }

  &__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    background-color: rgba(238, 238, 238, 0.6);
    color: var(--color-grey-dark);
    font-family: "Quicksand";
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1.3rem 1.5rem;

    border: none;
    outline: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.8rem;
      padding: 1rem 1.2rem;
    }

    &--left {
      left: 5%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      // transform allows us to use center point for positioning
    }

    &--right {
      right: 5%;
      transform: translate(50%, -50%);
      -webkit-transform: translate(50%, -50%);
      -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
      -o-transform: translate(50%, -50%);
    }
  }
}

.dots {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;

  &__dot {
    border: none;
    outline: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    @media only screen and (max-width: $bp-largest) {
      height: 0.8rem;
      width: 0.8rem;
      margin-right: 1.4rem;
    }

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */

    &--active {
      background-color: white;
    }
  }
}
