.slider {
  height: 70rem;
  width: 100rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;

  &__slide {
    height: 100%;
    width: 100%;
    position: absolute;
    // top: 0;

    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;

    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
}
