.header {
  height: 95vh;
  width: 95vw;
  margin: 5rem auto;

  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light)
  );
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &__text-box {
    h1 {
      font-size: 3.6rem;
    }
  }
}

.main {
  height: 100%;
  width: 95vw;
  margin: auto;
  padding: 4rem 0;

  font-size: 2rem;
  font-weight: 600;
  color: var(--color-grey-dark);
  //   background-image: linear-gradient(#ffc478, #fcd4a0);
  background-color: rgb(238, 236, 236);

  p {
    padding: 0 4rem;
  }
}
