.header {
  max-width: 120rem;
  margin: 5rem auto;
  min-height: 50rem;

  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light)
  );
  background-size: cover;
}
