.header {
  height: 95vh;
  width: 95vw;
  margin: 5rem auto;

  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light)
  );
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &__text-box {
    h1 {
      font-size: 3.6rem;
    }
  }
}

.main {
  height: 100%;
  width: 95vw;
  margin: auto;
  padding: 4rem 0;

  font-size: 2rem;
  font-weight: 600;
  color: var(--color-grey-dark);
  //   background-image: linear-gradient(#ffc478, #fcd4a0);
  background-color: rgb(238, 236, 236);

  p {
    padding: 0 4rem;
  }
}

.footer {
  height: 100%;
  width: 95vw;
  margin: 5rem auto;
  padding: 4rem 0;
  text-align: center;
  font-size: 1.4rem;

  background-color: rgb(94, 94, 94);

  a:link,
  a:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }

  a:hover,
  a:active {
    background-color: #f0e5d8;
  }
}
