/* COLORS

MINT GREEN: c6ebc9
GREEN: 70af85
BEIGE: f0e2d0
BROWN: aa8976

TURQUOISE: 75cfb8
TURQUISE-LIGHT: bbdfc8
CREAM: f0e5d8
ORANGE: ffc478

*/
:root {
  --color-primary: #f597be;
  --color-primary-light: #fdc0da;
  --color-grey-light: rgb(238, 238, 238);
  --color-grey-dark: rgb(36, 36, 36); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-light); }

.slider {
  height: 60rem;
  width: 100rem;
  position: relative;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  box-shadow: 0rem 1.125rem 4.125rem rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  @media only screen and (max-width: 81.25em) {
    .slider {
      height: 48rem;
      width: 80rem; } }
  @media only screen and (max-width: 62.5em) {
    .slider {
      height: 40rem;
      width: 60rem; } }
  @media only screen and (max-width: 44em) {
    .slider {
      height: 40rem;
      width: 45rem; } }
  @media only screen and (max-width: 31.25em) {
    .slider {
      height: 45rem;
      width: 30rem; } }
  @media only screen and (max-width: 21.88em) {
    .slider {
      height: 45rem;
      width: 25rem; } }
  .slider__slide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s; }
  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    background-color: rgba(238, 238, 238, 0.6);
    color: var(--color-grey-dark);
    font-family: "Quicksand";
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1.3rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer; }
    @media only screen and (max-width: 81.25em) {
      .slider__btn {
        font-size: 1.8rem;
        padding: 1rem 1.2rem; } }
    .slider__btn--left {
      left: 5%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
    .slider__btn--right {
      right: 5%;
      transform: translate(50%, -50%);
      -webkit-transform: translate(50%, -50%);
      -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
      -o-transform: translate(50%, -50%); }

.dots {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex; }
  .dots__dot {
    border: none;
    outline: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */ }
    @media only screen and (max-width: 81.25em) {
      .dots__dot {
        height: 0.8rem;
        width: 0.8rem;
        margin-right: 1.4rem; } }
    .dots__dot--active {
      background-color: white; }

.wrapper {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(img/giraffe-background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header {
  background-image: linear-gradient(var(--color-primary), var(--color-primary-light));
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__heading-primary {
    font-size: 3.6rem;
    cursor: default; }
    @media only screen and (max-width: 81.25em) {
      .header__heading-primary {
        font-size: 2.9rem; } }

.main {
  padding: 4rem 4.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-grey-dark);
  background-color: #eeecec;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 81.25em) {
    .main {
      font-size: 1.6rem; } }
  .main p {
    width: 90%; }

.footer {
  font-size: 1.3em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242; }
  .footer a:link,
  .footer a:visited {
    text-decoration: none;
    padding: 1.1rem 2.1rem;
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s; }
  .footer a:hover,
  .footer a:active {
    background-color: #f0e7ed; }
